/* Common styles for all screen sizes */
body,
form,
input,
option,
select,
textarea {
    font-family: "Poppins", sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px; /* Adjusted padding for smaller screens */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
    justify-content: space-between;
}

.header-left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-wrapper {
    display: flex;
    align-items: center;
    margin-right: 16px; /* Adjusted margin for smaller screens */
}

.header-logo-wrapper img {
    width: 20px; /* Adjusted width for smaller screens */
    height: 24px; /* Adjusted height for smaller screens */
    margin-right: 8px;
}

.header-brand-name {
    font-size: 18px; /* Adjusted font size for smaller screens */
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
    color: rgba(0, 0, 0, .8);
}

nav {
    display: flex;
    align-items: center;
}

.nav-bar {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    margin: 0 10px; /* Adjusted margin for smaller screens */
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
}

/* Adjusted styles for smaller screens */
@media screen and (max-width: 768px) {
    .header-left-side {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-logo-wrapper {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .header-brand-name {
        font-size: 16px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        display: none; /* Hide the navigation initially for smaller screens */
    }

    .nav-bar {
        margin: 0 10px;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 0;
    }

    /* Show navigation only when a mobile menu is active */
    .mobile-menu.active nav {
        display: flex;
    }
}
